body, html {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('./chalk_board.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  list-style: none;
  padding: 0;
}

button {
  width: 21rem;
  height: 4rem;
  margin-top: .5rem;
  margin-bottom: 0rem;
  border-style: none;
  color: #3a3a3a;
  font-size: 2rem;
  background-color: whitesmoke;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: transparent;
  color: whitesmoke;
  border: 1px solid #999;
  float: left;
  font-size: 3rem;
  font-weight: bold;
  line-height: 34px;
  height: 7rem;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 7rem;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  font-size: 3rem;
  text-align: center;
  color: whitesmoke;
  display: flex;
  flex-direction: column;
}

.game-info {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
}

.game-board {
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.shown {
  display: block;
}
